## Definition

 - A set is an **unordered and mutable** collection of **unique** elements. 
 - Unordered means that the items in a set do not have a defined order. Set items can appear in a **different order every time** we use them, and cannot be referred to by an index or key
 - Sets are written with curly brackets ({}), being the elements separated by commas
 - The elements in the set cannot have **duplicates**

#### Creation of Sets

In [2]:
# Use set constructor to create new set

this_set = set(("apple", "banana", "cherry","apple"))
print(this_set)

{'apple', 'cherry', 'banana'}

In [3]:
# Use paranthesis to create sets. 

my_set = {"tamil", "english", "maths", "science"}
print(my_set)

{'maths', 'tamil', 'science', 'english'}

In [5]:
# Empty set can be created only with the set() constructor. Below code will only create empty dictionary.
# We will need at least one element to create a set in the below scenario

empty_set = {}
print(type(empty_set))

<class 'dict'>

#### Adding elements to set

In [6]:
tup1 = {1, 2, 3, 4}
tup1.add("Thiru")
print(tup1)

{1, 2, 3, 4, 'Thiru'}

In [7]:
# List cannot be added to set due to its nature (sets are unordered and will hold unique values)
# sets will try to find out the uniquness b/w primitive data types (int, float, str) and other data types (list, tuples). 
# So we can't add list inside the sets

tup1.add(['a','b','c'])

TypeError: unhashable type: 'list'

In [12]:
# tuples can be added inside the set
set1 = {1, ('a','b'), 2, 2, 4, 5}
print(set1)

{1, 2, 4, 5, ('a', 'b')}

In [13]:
# duplicate tuples can also be removed in the sets
set1 = {1, ('a','b'), 2, 2, ('a','b'), 4, 5}
print(set1)

{1, 2, 4, 5, ('a', 'b')}

#### Updation of sets

In [15]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)

print(set1)

{1, 2, 3, 4, 5}

#### Remove elements from Set

In [16]:
# Remove single element from the set

my_set = {1, 2, 3, 4, 5, 8, 12, 18}
print(f"Original set: {my_set}")

my_set.remove(8)
print(f"Modified set: {my_set}")

Original set: {1, 2, 3, 4, 5, 8, 12, 18}
Modified set: {1, 2, 3, 4, 5, 12, 18}

If we call the remove() function to delete an element that does not exist in the set, then it will raise KeyError.

In [17]:
# If we try to delete the element (using discard function) which is not available in the set, it will not return error.
my_set.discard(16)

In [27]:
my_set = {1, 2, 3, 4, 5, 8, 12, 18}
print(f"Original set: {my_set}")

# Elements to be deleted
to_delete = {1, 2, 4}

# Remove all elements of list from the set
my_set.difference_update(to_delete)
print(f"Modified set: {my_set}")

Original set: {1, 2, 3, 4, 5, 8, 12, 18}
Modified set: {3, 5, 8, 12, 18}

In [28]:
# Pop will remove the first element from the set
my_set.pop()
print(my_set)

{5, 8, 12, 18}

## Operations on Tuples

- Length
- Clear
- Membership (in / not in)
- Iterative statements
- Maximum
- Minimum
- Conversion to tuples

In [24]:
# to find length of tuple
print(my_set)
print(f"Length of my tuple is {len(my_set)}")

{3, 5, 8, 12, 18}
Length of my tuple is 5

In [31]:
# Clear the set
set1 = {1, 2, 3, 4}
print(set1)

set1.clear()
print(set1)

{1, 2, 3, 4}
set()

In [35]:
# Membership
set2 = {"Thiru", "Nihith"}
print(set2)

"Thiru" in set2

{'Thiru', 'Nihith'}

True

In [36]:
# Iterative statements
for item in my_set:
    print(item)

5
8
12
18

In [37]:
# Maximum and Minimum
print(max(my_set))
print(min(my_set))

18
5

In [41]:
# Conversion to set from string. But it will remove the duplicates

this_set = set("Nihith")
print(this_set)

{'h', 'N', 'i', 't'}

In [42]:
# Conversion to set from list

this_list = [10, 20, 30, 40, 50]
this_set = set(this_list)
print(this_set)

{40, 10, 50, 20, 30}