## Definition

 - A Tuple is a collection of Python objects separated by commas which is **ordered and unchangeable**.
 - When we say that tuples are ordered, it means that the items have a defined order, and that order will not change
 - A tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is immutable unlike lists which are mutable
 - Tuples are represented in paranthesis **"( )"**
 - Tuples allow **duplicates**. Since tuples are indexed, they can have items with same value

#### Creation of tuples

In [31]:
# Use tuple constructor to create new tuple

this_tuple = tuple(("apple", "banana", "cherry"))
print(this_tuple)

('apple', 'banana', 'cherry')

In [32]:
# Use paranthesis to create tuples

my_tuple = ("tamil", "english", "maths", "science")
print(my_tuple)

('tamil', 'english', 'maths', 'science')

In [33]:
# Tuples can be created without the paranthesis. But it is recommended to have paranthesis.

new_tuple = "a","b","c","d"
print(new_tuple)

('a', 'b', 'c', 'd')

In [34]:
# Empty tuple
empty_tuple = ()
print(empty_tuple)

()

In [35]:
# Tuple with only one element

one_tuple = ("Thiru",)     # remember to put comma; otherwise the interpreter will consider it as ordinary value
print(type(one_tuple))

one_tuple = ("Moorthi")
print(type(one_tuple))

<class 'tuple'>
<class 'str'>

#### Updation of tuples

Values in any tuple **cannot be updated**.

In [37]:
tup1 = (1, 2, 3)
tup1[2] = "Thiru"

TypeError: 'tuple' object does not support item assignment

But we can access these values from tuples and create new tuple with new values or do some manipulation

In [38]:
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 4, 5, 6)

However, when list is getting defined inside the tuples, they can be changed/updated. <br>
For example,

In [39]:
my_tuple = (["a", "b", "c"], 34, 33.33, "Thiru")
print(f"Before update: {my_tuple}")

my_tuple[0][1] = "Nihith"
print(f"After update: {my_tuple}")

Before update: (['a', 'b', 'c'], 34, 33.33, 'Thiru')
After update: (['a', 'Nihith', 'c'], 34, 33.33, 'Thiru')

#### Remove the tuple

The elements or items in the tuple **cannot be deleted** as Tuples are immutable.

In [45]:
tupl = ("a", "b", "c", "d")
del tupl[3]

TypeError: 'tuple' object doesn't support item deletion

But the entire tuple can be removed or deleted.

In [46]:
del tupl

#### Slicing (accessing) the tuples

Like the lists, tuples can also be accessed using the "[ ]" and using slicing concept

In [47]:
new_tuple = ("Python", "is", "my", "favourite", "language")
print(new_tuple[0])
print(new_tuple[1])
print(new_tuple[2])
print(new_tuple[3])
print(new_tuple[4])

Python
is
my
favourite
language

In [48]:
print(new_tuple[0:4])

('Python', 'is', 'my', 'favourite')

In [49]:
print(new_tuple[-1])

language

In [50]:
# Nested tuples
nest_tuples = ("scores","on", 22, [45, 50, 48, 60, 70])
print(nest_tuples[3])
print(nest_tuples[3][0])

[45, 50, 48, 60, 70]
45

## Operations on Tuples

- Length
- Concatenation (+)
- Repetition (*)
- Membership (in / not in)
- Iterative statements
- Maximum
- Minimum
- Index
- Count
- Conversion to tuples

In [51]:
# to find length of tuple
print(my_tuple)
print(f"Length of my tuple is {len(my_tuple)}")

(['a', 'Nihith', 'c'], 34, 33.33, 'Thiru')
Length of my tuple is 4

In [52]:
# Concatenation
tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 4, 5, 6)

In [53]:
# Repetition
tup1 = tup1 * 2
print(tup1)

(1, 2, 3, 1, 2, 3)

In [59]:
# Membership
"Thiru" in my_tuple

True

In [57]:
# The list values inside the tuple can not be checked directly using tuple name
"Nihith" in my_tuple

False

In [60]:
# Iterative statements
for item in my_tuple:
    print(item)

['a', 'Nihith', 'c']
34
33.33
Thiru

In [61]:
# Maximum and Minimum
print(max(tup3))
print(min(tup3))

6
1

In [63]:
# Max or Min can not be used when the tuples have mixed type values or list/dict
print(max(my_tuple))

TypeError: '>' not supported between instances of 'int' and 'list'

In [64]:
# Index

my_tuple.index("Thiru")

3

In [67]:
# Count

print(tup1)
print(tup1.count(1))

(1, 2, 3, 1, 2, 3)
2

In [68]:
# Conversion to tuple from string

this_tuple = tuple("Nihith")
print(this_tuple)

('N', 'i', 'h', 'i', 't', 'h')

In [70]:
# Conversion to tuple from list

this_list = [10, 20, 30, 40, 50]
this_tuple = tuple(this_list)
print(this_tuple)

(10, 20, 30, 40, 50)